
/* Estilos CSS */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#Principal {
  background-color: #f1f1f1;
}


/* /* #cajaNombre{
  background-color: rgb(248, 244, 9);} /*blanco celeste*/
 

#Nombre {
  box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
  display:flex;
  justify-content: left; 
  background-color: #f1f1f1;
}

#nombre_h1 {
  color: #182153;
  font-size: 30px; 
  font-weight: bold;
}

#div_header {
  display:flex;
  margin: auto;
  font-family: Arial, sans-serif;
  color: #182153;
}

#imagen_div {
  box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
  /* display: flex; */  
  justify-content: center;
  background-color: #182153;
} 

/* #user-info{
  background-color: #0f1534;    ESTO FUNCIONA BIEN LO MUTEO PARA PROBAR OTRA COSA
  display: flex;  
  justify-content: center;
  
} */



#foto { 
  height: 470px;
  width: 470px;
}

#info_div {
  background-color: #f1f1f1;
  box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
  height: 470px;
  width: 470px;
}

#texto {
  font-family: sans-serif;
  font-size: 14px;
  margin: 50px;
}


.class-Nombre {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
}


.icon-container {
  text-align: center;
  background-color:#182153;
  width: 50%;
  height: 40px; 
  margin: 0 auto;
  width: 940px;  
}

#cajaIconos {
  background-color: #f1f1f1;
}

a {
  color: #182153;
  margin: 10px;
}

#cajaSaludo {
  background-color: #f1f1f1; 
  margin: 3%;
}

h2{
  background-color: #f1f1f1;
  color: #182153;
  text-align: center;
  font-size: 30px; 
  font-weight: bold;
}

h3{
  background-color: #f1f1f1;
  color: #182153;
  text-align: center;
  font-size: 18px;
  width: 50%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}



nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color:#182153;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

nav a:hover {
  text-decoration: underline;
}
 
.experiencia_css{
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}


#Experiencia_titulo{
  background-color: #FFFFFF;
  box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
  
}

#c1{
  background-color: #FFFFFF;
  height: 170px;
  width: 470px;
}

 #c2{
  background-color: #FFFFFF;
  height: 170px;
  width: 470px;
 }  

#c1_h{
  text-align: right;
  margin: 20px;
  color: #182153;
}

#c2_h{
  text-align: left;
  margin: 20px;
  color: #182153;
}



form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  font-weight: bold;
  margin-top: 10px;
  color: white;
  font-family: Arial, sans-serif;
}

input[type="text"], input[type="email"], textarea {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px #ccc;
  width: 100%;
  max-width: 500px;
}

input[type="button"] {
  background-color: #3e8e41;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  width: 520px;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

#barra{
  background-color:#FFFFFF;
  color:#FFFFFF
}

#Contacto{
  background-color:#182153;
}
/* -------------------------------------------- */

.background-image {
  position: relative;
  
}

.background-image img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(116, 110, 173, 0.521); /* Opacidad del fondo */
  color: #000000; /* Color del texto */
  width: 100%;
  font-weight: bold;
}

.overlay img {
  width: 30%;
  margin-left: 50px;
  opacity: 0.7;
  
}

.overlay h1,
.overlay p {
  font-size: 2rem;
}

